/**
 * TODO: Change ID to CLASS
 */
#srt_wrapper {
  width: 500px;
  height: 500px;
}
  #srt_speed {
    width: 100%;
    height: 40px;
  }
    #srt_speed input {
      text-align: right;
    }
  #srt_text {
    width: 100%;
    height: 25%;
  }
    #srt_text textarea {
      width: 100%;
      height: 100%;
    }
  #srt_stream {
    width: 100%;
    height: 20%;
    background: black;
    color: yellow;
    position: relative;
  }
    #srt_stream div {
      font-size: 50px;
      line-height: 20px;
      margin-top: -15px;
      position: absolute;
      top: 50%;
      text-align: center;
      width: 100%;
    }
  #srt_page {
    float:left;
    width: 35%;
    height: 45%;
    font-size: 8px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: separate;
    overflow: scroll;
  }
    #srt_page .current {
      background-color: pink;
    }
  #srt_paragraph {
    float:right;
    width: 64%;
    height: 45%;
    border-right: 1px solid black;
    border-collapse: separate;
  }
    #srt_paragraph .current {
      background-color: rgb(0,255,255);
    }
  #srt_toolbox {
    border-top: 1px solid black;
    float:right;
    width: 100%;
    height: 20px;
  }
    #srt_start{
      width: 100%;
    }
    #srt_pause{
      width: 50%;
      display: none;
    }
    #srt_stop{
      width: 50%;
      display: none;
    }
